@model BibliotekGruppProjekt.Models.Author.AuthorDetailModel

<h3>@Model.Name</h3>
<div id="authorDetail">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Books: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var book in Model.Books)
                {
                    <th>@book.Title</th>

                }
            </tr>
        </tbody>
    </table>
</div>