@model BibliotekGruppProjekt.Models.Author.AuthorIndexModel;

<div id="books">
    <h3>All Authors</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div id="booksTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model.Authors)
                {
                <tr class="bookrow">
                    @*<td class="loanrow">
                            <a asp-controller="Loan" asp-action=">Index" asp-route-id="@loan.ID">

                            </a>
                        </td>*@
                    <td><a asp-controller="Author" asp-action="Detail" asp-route-id="@author.ID">( Books )</a></td>
                    <td class=""> @author.Name</td>
                    <td>
                        <a asp-controller="Author" asp-action="Delete" asp-route-id="@author.ID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>