@model BibliotekGruppProjekt.Models.Library.LibraryIndexModel;

<div id="books">
    <h3>Available for Loan</h3>
    <a asp-action="Index" class="btn btn-primary">Alla</a>
    <div id="booksTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr class="bookrow">
                        @*<td class="loanrow">
                                <a asp-controller="Loan" asp-action=">Index" asp-route-id="@loan.ID">

                                </a>
                            </td>*@
                        <td><a asp-controller="Library" asp-action="Detail" asp-route-id="@book.Id">(Details)</a></td>
                        <td class="">@book.Title</td>
                        <td class="">@book.Author.Name</td>
                        
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

