@model BibliotekGruppProjekt.Models.Member.MemberDetailModel;

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Member Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Member: @Model.Name</h2>
                    <div class="memberContact">
                        @if(@Model.OverdueFees > 0)
                        {
                            <div id="memberHasFees">Current fees due: $@Model.OverdueFees</div>
                        }
                        else
                        {
                            <div id="memberNoFees">No fees currently due.</div>
                        }
                    <table>
                        <tr>
                            <td class="">ID = @Model.ID</td>
                            <td class="">Person Number: @Model.PersonNr</td>
                            @foreach (var loan in Model.Loans)
                            {
                                <td class="">Book on Loan: @loan.BookCopy.Book.Title</td>
                            }
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <h4>Assets currently on loan</h4>
            </div>-->
        </div>
    </div>
</div>