@model BibliotekGruppProjekt.Models.Loan.LoanDetailModel;

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Loan Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>@Model.MemberName</h2>
                    <p>Member ID = @Model.ID</p>
                    <table>
                        <tr>Book on Loan: @Model.BookTitle</tr>
                        <tr>Loaned since: @Model.Checkout</tr>
                    </table>
                </div>
            </div>
            <!--<div class="col-md-4">
                <h4>Assets currently on loan</h4>
            </div>-->
        </div>
    </div>
</div>
